body {
    font-family:  Times New Roman,serif;
    background-color: #000000;
    color: gray;
    text-align: justify;
    padding: 10%;
}

header {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 20px;
}

.faq {
    margin-bottom: 20px;
}

h1 {
    color: white;
    font-size: 32px;
    }

h2 {
    margin-top: 0;
    font-size: 28;
    color:white;
p{
    font-size: 24px;
.navbar_Inter {
    background-color: white;
    overflow: hidden;
    font-family: Arial, sans-serif;
    margin-top: 5%;
    display: flex;
     max-width: 50%; 
    margin: auto;
    justify-content: center;
}

.navbar_Inter a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar_Inter a:hover {
    background-color: blue;
    color: black;
}
